local anticc = ngx.shared.nla_anticc
local start_time = anticc:get("start_time")

local _M = {}

-- Режим защиты активирован всегда / включается при атаке
_M.always = false

-- Проверять киентов на выполнение JavaScript (может вызывать проблемы при запросах Ajax)
_M.use_js = false

-- cookie токена
_M.cookie_name = "_sim"

-- cookie идентификатора клиента
_M.cookie_sid_name = "_wer"

-- секретный ключ
_M.cookie_key = "qQN0NxYEA1q7HyK6ieUbqdi1iuu4KJ25n9dkGcowbIdUNKCgXzihIRsDXr0YVp2G" .. start_time

-- Расширения файлов приложения
_M.app_ext = "html|htm|php|py|pl|asp|aspx|ashx|json|xml"

-- Расширения файлов приложения не являющиеся основным документом - актуально при _M.use_js = true
_M.app_ext_nohtml = "json|xml|js|html" -- html может загружаться Ajax

-- Количество обращений к приложению после которого влючается режим защиты / 10 с.
_M.pages_per_ten_second = 5

-- Количество обращений с одного адреса, после которого включается режим проверки / 10 с.
_M.requests_per_ten_second = 1024

-- Период ротации токенов (обычный), с.
_M.rotate_after_second = 512

-- Период ротации токенов (при выявлении ddos атаки), с.
_M.rotate_after_second_ddos = 10

-- Список допустимых ботов
_M.white_bots = "Google Page Speed Insights|Googlebot|baiduspider|twitterbot|"
    .. "facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|"
    .. "outbrain|pinterest|slackbot|vkShare|W3C_Validator|YandexBot|AdsBot-Google|bingbot"
    .. "|UptimeRobot|PrivatMarket|COMODO DCV|bingbot|Google-Site-Verification|Googlebot-Image"

-- Количество допутсимых запросов ботов / 1 мин.
_M.bot_requests_per_minute = 120

return _M
